body {
  font-family: Arial;
  padding: 1%;
  background: #f1f1f1;
}

/* Header/Blog Title */
/*added content
-font family : impact (because there isn't any font style)
-font size: 30px (Because there isn't any font size)
-color : #101820ff(Because there isn't any font color)
*/
.header {
    font-family: impact;
    font-size: 175%;
    color: #101820ff;
    padding: 1.5%;
    text-align: center;
    background: #FCF951FF;
}

.header h1 {
  font-size: 120%;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #0E2F56;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
}

/* Footer */
.footer {
  padding: 2%;
  text-align: center;
  background: #FCF951FF;
  margin-top: 2%;
}
