    * {
      box-sizing: border-box;
    }
/*Removed CSS Style because the body style already in the basic css*/
/*To make all text font in the html using arial font with 1% padding and color bacground #f1f1f1
    body {
      font-family: Arial;
      padding: 1%;
      background: #f1f1f1;
    }
*/
    /* Change color on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {   
      float: left;
      width: 75%;
    }

    /* Right column */
    .rightcolumn {
        float: left;
        width: 25%;
        background-color: #f1f1f1;
        padding-left: 1%;
        padding-top: 0.7%;
    }

    /*For the name in about box*/
    .aboutname {
      background-color: white;
      width: 100%;
      padding: 2%;
    }
    /*To carry the image ; This style is used when you need to insert any picture if you dont need, dont use this style*/
    .box{
    float: right;
    width: 25%;
    background-color:white;
    padding-top: 0%;
    }
    /* Add a card effect for articles */
    .card {
        background-color: white;
        padding: 2%;
        margin-top: 2%;
        width: 100%;
    }
/*added style because we need it to make it responsive at the about us part and visit us part*/
    .card1 {
        background-color: white;
        padding: 2%;
        margin-top: 2%;
    }
/*To m*/
    .card p h2 {
    text-align:justify ; 
    }

   /* To insert an image in the box Recommended ratio of the picture is 1:1 */
    .img img{
        width: 100%;
    }
   /* Added style this style is used to clear both of the float*/
    .clear{
        clear: both;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width : 601px){
      .leftcolumn, .rightcolumn {   
        width:      100%;
        padding: 0;
          float: left;
      }
        .card1, .aboutname{
            width: 45%;
            float: left;
            margin: 10px;
        }   
    .box{
        padding-top: 5%;
    }
    }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .leftcolumn, .rightcolumn {   
        width:      100%;
        padding: 0;
      } 
        .box{
        padding-top: 10%;
    }
       
    }

    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
      .topnav a {
        float: none;
        width: 100%;
    }
    .box{
        padding-top: 30%;
        width: 20%;
    }
        /*note: best picture position only at 500+px*/ 
        
}
 /* Responsive layout - when the screen is more than 799px width makes it normal again */
    @media screen and (min-width: 800px) {
   .leftcolumn {   
      float: left;
      width: 75%;
    }

    /* Right column */
    .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 1%;
    padding-top: 0.7%;
    padding-bottom: 0%;
    margin-top: 0%;
    }

    .card1, .aboutname{
    width: 100%;
    margin top: 2%;
    padding: 2%;
    margin-left: 0%;     
        }    
    .box{
    padding-top:0%;     
    float: right;
    width: 25%;
    background-color:white;
        }    
}

.button { /* this is style for button. if we click this button, it will go to the course page */
        background: linear-gradient(to right, #f09819, #edde5d); 
		border: 2px solid #cecece;
		border-radius: 40px;
		padding: 30px;
        font-size: 15px;
        box-shadow: 2px 2px 6px;
	}
/*note box-shadow : 1st: range from left 2nd: range from top 3rd: range of the shadow*/
.button a{ /* this is style for the link in the button*/
text-decoration: none;
color: white;}

.button:hover{ /* this is style for button.when we hovering our pointer on the button*/
        background: linear-gradient(to right, #f09819, #edde5d);
		box-shadow: 2px 2px 8px;
	}

.button:hover a{ /* this is style for button.Whe we hovering our pointer on the button the text color will turn into black*/
        color: black;
	}
