body {
    font-family: sans-serif;
    background: #FCF951FF;
}

.header{/*Header styling for signup page*/
    padding: 0.5%;
}

.header a{/*Header hyperlink styling for signup page*/
    color: #101820ff;
    text-decoration: none;
}

/* for make table form */
.box_signup {
	width: 350px;
	background: white;
	/*modified style margin: 80px auto;*/
    margin :0px auto;
    padding: 30px 20px;
    /*modified style*/ 
    padding-bottom: 5px;
    border-radius: 20px;
}
/* for make sign up word */
.content_sign {
    text-align: center;
    text-transform: uppercase;
}
/* for make colomn be tidied */
label {
    font-size: 11pt;
}
/* for make table form have a size */
.form_signup {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
    /*modified style*/ 
    border-radius: 20px;
}
/* for click button */
.sign_button {
    background: #46de4b;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    /*modified style border-radius: 3px;*/
    border-radius: 5px;
    padding: 10px 20px;
}
/* to change colour the text of hyperlink */
.link {
    color: chartreuse;
    text-decoration: none;
    font-size: 10pt;
}
