.topnav a:hover {
    background-color: #ddd;
    color:black;
}

#out{
    float: right;
}


/* for the position div */
.content{
    margin: 1%;
}

.media{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


h1.tl {
    color: lightslategray;
}

h2 { /* added styling because they put it in inline styling */ 
    margin-bottom: 1%; 
    margin-top: 1%;
    }

h2.title{
    margin-bottom: 3%;
    margin-top: 0.5%;
    color: navy;
}

h3 {
    margin-bottom: 0.5%;
    margin-top: 5%;
}


@media screen and (max-width: 800px) and (min-width:700) { /* 750 x 1000 */
    iframe {   
    width: 80%;
    height: 300px;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) { /* 800 x 500 */
    iframe {   
    width: 80%;
    height: 400px;
  }
}

@media screen and (max-width: 1200px) and (min-width:1000px) { /* 1100 x 800 */
    iframe {   
    width: 80%;
    height: 600px;
  }
}

@media screen and (max-width: 1450px) and (min-width:1000px) { /* 1000 x 1400 */
    iframe {   
    width: 70%;
    height: 600px;
  }
}
