/* for the position div */
.media{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.column {   
    float: left;
    margin-left: 160px;
    width: 75%;
}

.n12:after {
    content: "";
    display: table;
    clear: both;
}

h2 { /* added styling because they put it in inline styling */ 
    margin-bottom: 1%; 
    margin-top: 1%;
    }

iframe { /* added style for video player */
    width:60%;
    height:400px;
}

