/* for the position div */
.media{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.column {   
    float: left;
    margin-left: 160px;
    width: 75%;
}

.n12:after {
    content: "";
    display: table;
    clear: both;
}

h2 { /* added styling because they put it in inline styling */ 
    margin-bottom: 1%; 
    margin-top: 1%;
    }


@media screen and (max-width: 800px) and (min-width:700) { /* 750 x 1000 */
    iframe {   
    width: 80%;
    height: 300px;
    padding: 0;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) { /* 800 x 500 */
    iframe {   
    width: 80%;
    height: 400px;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width:1000px) { /* 1100 x 800 */
    iframe {   
    width: 80%;
    height: 600px;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width:1000px) { /* 1000 x 1400 */
    iframe {   
    width: 80%;
    height: 500px;
    padding: 0;
  }
}
