/* for the content */

.floating-box {
    float: left;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 3px solid #73AD21; 
    padding: 0% /* Added styling because they put it in inline styling */
}

.floating-box h1,p {  /* Added styling because they put it in inline styling */
    text-align: center;
}

.floating-box img {  /* Added styling because they put it in inline styling */
    height: 150px;
    width: 150px;
}
/* size of box */
* {
  box-sizing: border-box;
}
/* for the font style in body  */
body {
  font-family: Arial;
  padding: 10px;
  
}

/* Added stylings */
h2 { /* they put the styling as an inline styling instead of external styling */
    /*
    margin-top : 5%; 
    margin-bottom : 5%;*/
    margin-top : 25px; /* modified style because we think the gap is too big */
    margin-bottom: 25px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #FCF951FF;
}

.header h1 {
  font-size: 50px;
    

